.javascripts
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  if testing
    script(src="https://unpkg.com/vue")
  else
    script(src="js/min/vue.min.js")
  script(src="js/min/dumb.min.js?lastUpdated="+lastUpdated)
  
  //- Google ANalytics
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-15129990-27")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-15129990-27');