@keyframes fall {
  from { transform: translateY(-100%); }
  to   { transform: translateY(100%);  }
}


figure.drop { @include position(fixed,0,0,0,0); @include flex-center(); animation-name: fall; animation-iteration-count: 1; animation-duration: 3s; animation-timing-function: ease-out; /*animation-timing-function: cubic-bezier(.71,-0.02,1,1); */ animation-fill-mode: forwards;
  img { max-width: 80%; box-sizing: 0 0 10px $black; /* mask-image:url(http://localhost:7880/svg/heart.svg); */ mask-repeat:no-repeat; mask-position:center; mask-size:contain;
    &.heart-1 { mask-image:url(../svg/heart-1.svg); }
    &.heart-2 { mask-image:url(../svg/heart-2.svg); }
    &.heart-3 { mask-image:url(../svg/heart-3.svg); }
    &.heart-4 { mask-image:url(../svg/heart-4.svg); }
  }
}
audio { @include position(fixed,null,0,0,0); z-index: 1050; display: block; width: 100%;}
