- var siteTitle = "Dumb Men"
- var siteURL = "http://dumb.men"
- var testing = "true"
- var description = "Halelujah, it's raining dumb men! Amen."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    main#app
      
      include partials/_sidebar.pug
      
      section.raindrops#Raindrops(v-show="raindrops")
        figure.drop(v-for="drop in raindrops" v-bind:style="drop.seconds")
          img(:src="filePath + drop.file" v-bind:class="drop.class" v-bind:style="drop.styleObject")

    audio(controls autoplay loop muted)
      source(src="audio/raining.ogg" type="audio/ogg")
      source(src="audio/raining.mp3" type="audio/mpeg")
             
    include partials/_javascripts.pug